<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Connexion</h5>
                    <form [formGroup]="signInForm" class="form-signin">
                        <div class="form-label-group">
                            <input type="email" id="inputEmail" formControlName="user" class="form-control" required
                                placeholder=" User">
                        </div>
                        <br />
                        <div class="form-label-group">
                            <input type="password" id="inputPassword" formControlName="password" class="form-control"
                                required placeholder=" Password">
                        </div>
                        <div class="errorMessage">{{errorMessage}}</div>
                        <br />

                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Remember password</label>
                        </div>
                        <button class="btn btn-lg btn-outline-dark  btn-block text-uppercase" type="submit"
                            (click)="signIn()" [disabled]="!signInForm.valid">Connexion</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>