<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#">Arrosage Maison</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainNavBar">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="/planning">Planning</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/reseau">Mon réseau</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Mes programmes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/programmes">Consulter mes programmes</a>
          <a class="dropdown-item" href="/creation-programme">Créer un programme</a>
          <a class="dropdown-item" href="/modification-programme">Modifier un programme</a>
          <a class="dropdown-item" href="/supression-programme">Supprimer un programme</a>
        </div>
      </li>
    </ul>

    <div>
      <button class="btn btn-outline-danger">Déconnexion</button>
    </div>

  </div>
</nav>

<router-outlet></router-outlet>
