<div class="container">

    <div class="stations">

        <div class="title">Stations</div>
        <div *ngIf="!stations" class="stations" #noStations>Aucune station n'a pu être récupérée depuis le serveur</div>
        <br />
        <div *ngFor="let station of stations">
            <button type="button" (click)="toggleButton(station)"
                class="btn btn-secondary btn-lg btn-block">{{station.location}} <div
                    *ngIf="this.activity[station.id - 1].gpio">💧</div></button>
            <br />
        </div>
    </div>

    <div class="picture">

        <img class="img-fluid" style="max-width: 100%; padding: 40px;" src='../../../assets/reseaux.jpg' />
    </div>

</div>